* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #545e6c;
  background: #f5f5f5;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1000px;
  margin: 30px auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #2a7f99;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1a5f73;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
